.axis {font-size: 20;}

body {
    background-color: #C5DFF8;
    padding-top: 60px;
}
  
table.table tr td {
    background-color:#C5DFF8;
}

.navbar {
    /* overflow: hidden;
    width: initial; */
    padding: auto;
    /* display: flex; */
}

go_back {
    position: absolute;
    bottom: 10px;
    width: 50%;
    border: 3px solid #8AC007;
  }

  .graph {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    
  }
  .text{
    margin: auto;
    font-size: larger;
  }
  .box {
    display: flex;
  }

  .login {
    width: 200px;
    text-align: center;
    margin: auto;
  }
  .logup {
    width: 200px;
    text-align: center;
    margin: auto;
    /* padding: auto; */
  }
  .center {
    margin: auto;
  }

  .player {
    width: 500px;
  }

  .cumulative {
    /* width: auto; */
    /* flex-basis: auto; */
    flex-grow: 1;
    display: flex;

  }
  .buttons {
    display: flex;
    /* flex-grow: 1; */
    flex-wrap: wrap;
    
  }
  @media 
  only screen and (max-width: 600px)  {
    .vis {
      display: none;
    }
    .hid{
      display: flex !important;
      margin: auto;
      text-align: center;
      
    }
    .player {
      width: 75vw;;
    }
  }
  