<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta title="The Superb Ock">
    <title>The Superb Ock</title>
    <meta
      name="The Superb Ock: Champions League"
      description="Biggest tournament west of Rome"
    />
    <meta property="og:title" content="The Superb Ock" />
    <meta property="og:url" content="https://rgl1892.pythonanywhere.com" />
    {% load static %}
    <meta
      property="og:image"
      content="{% static 'courses/MarksStag-2.jpg' %}"
    />
    <meta property="og:type" content="website" />

    <meta property="og:locale" content="en_GB" />
    <link
      rel="icon"
      type="image/jpg"
      href="{% static 'courses/SuperbOck.jpg' %}"
    />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="{% static 'courses/SuperbOck.jpg' %}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'courses/styles.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top d-flex">
      <div class="container-fluid">
        <a class="navbar-brand d-flex" href="{% url 'home' %}"
          >The Superb Ock</a
        >
        <a href="https://www.amendoeiraresort.com/en/" class="d-flex"
          ><img
            src="{% static 'courses/amen.jpg' %}"
            height="50px"
            width="50px"
            alt=""
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>
            <li class="nav-item">
              {% if 'courses.change_scoring' in user.get_user_permissions %}
              <a class="nav-link" href="{% url 'scoring' %}">Scores</a>
              {% else %}
              <a class="nav-link" href="{% url 'scoringreadlist' %}">Scores</a>
              {% endif %}
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="{% url 'score_stats' %}"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Stats
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="{% url 'score_stats' %}"
                    >Scores</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'stats' %}">Yards</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'round_stats' %}"
                    >Stats</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li>
              <a class="nav-link dropdown">Logged in as {{user.username}}</a>
            </li>
            <li>
              <form
                action="{% url 'logoutuser' %}"
                method="POST"
                class="d-flex"
              >
                {% csrf_token %}
                <button type="submit" class="nav-link">Log Out</button>
              </form>
            </li>
            {% else %}
            <li>
              <a class="nav-link dropdown" href="{% url 'sign_up_user' %}"
                >Sign Up</a
              >
            </li>
            <li>
              <a class="nav-link dropdown" href="{% url 'loginuser' %}"
                >Sign In</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <br />
    <!-- <div class="container"> -->
    {% block content %}{% endblock %}
    <!-- </div> -->
    <!-- <div class="bottom container">
  <button onclick="history.back()" class="btn-outline-info">Go Back</button> -->
    <!-- </div> -->
  </body>
</html>
