{% extends 'courses/base.html' %}

{% block content%}

<div class="container">
  
    
      {% if edit_rights == 'edit' %}
    <form action="{% url 'round' %}" class="form-group" method="post">
      {% csrf_token %}
      <select name="course" id="" class="form-select">
        <option value="Faldo">Faldo</option>
        <option value="Oconnor">O'Connor</option>
      </select>
      
      <select name="tees" id="" class="form-select">
        <option value="White">White</option>
        <option value="Yellow">Yellow</option>
      </select>
      
      <input type="submit" value="New Round" class="btn btn-primary">

    </form>
    <a href="{% url 'scoring' %}" class="btn btn-info">View / Edit Score Cards</a>
    {% else %}
    <a href="{% url 'scoringreadlist' %}" class="btn btn-info">View Score Cards</a>
    {% endif %}
 
  <div class="row justify-content-center">
    <div class="col-5">
    <table class="table table-hover table-responsive">
      <thead>
          <th class="vis">Round</th>
          <th>Adam <br><span class="vis">Par | Stableford</span></th>
          <th>Alex <br><span class="vis">Par | Stableford</span></th>
          <th>Jaime <br><span class="vis">Par | Stableford</span></th>
          <th>Rich <br><span class="vis">Par | Stableford</span></th>
      </thead>
      <tbody>
      {% for row in each %}
      <tr>
          <td class="vis">Round {{forloop.counter}}</td>
          <td>{% if row.1 %}{{row.1}} |{% endif %} {% if row.5 %}{{row.5}}{% endif %} </td>
          <td>{% if row.2 %}{{row.2}} |{% endif %} {% if row.6 %}{{row.6}}{% endif %} </td>
          <td>{% if row.3 %}{{row.3}} |{% endif %} {% if row.7 %}{{row.7}}{% endif %}</td>
          <td>{% if row.4 %}{{row.4}} |{% endif %} {% if row.8 %}{{row.8}}{% endif %}</td>
      </tr>
      
      {% endfor %} 
      <tr><th colspan="5"
        style="text-align: center;"
        >Sum of Best 3 Rounds</th ></tr>
      
      <tr>
        <td class="vis">Ock</td>
        <td>{{total.0}}</td>
        <td>{{total.1}}</td>
        <td>{{total.2}}</td>
        <td>{{total.3}}</td>
      </tr>
  </tbody>
  </table>

  </div>


{% endblock %}
