{% extends 'courses/base.html' %}
{% block content %}
{% load static %}

<div class="container">


<div class="row">
<div class="graph" id="div-template1"><span class="text">Mean Strokes</span></div>
<div class="graph" id="div-template2"><span class="text">Mean Stableford Points</span></div>
<div class="graph" id="div-template3"><span class="text">Strokes Std Deviation</span></div>
<div class="graph" id="div-template4"><span class="text">Stableford Deviation</span></div>
<div class="graph" id="div-template5"><span class="text">Stableford Deviation</span></div>

</div>
</div>
<script type="module"  src="{% static 'courses/round_stats.js' %}"></script>

{% endblock %}