{% extends 'courses/base.html' %}

{% block content%}
  <a href="{% url 'scoring' %}" class="btn btn-info">Score Cards</a>
<h1>{{course}} {{tees}} Round Created</h1>
<br>
<br>
<div class="row">
<div class="col-3">

</div>
</div>
<table class="table table-hover">
    <tr>
      <th>Hole</th>
      <th>Yards</th>
      <th>Par</th>
      <th>Stroke Index</th>
    </tr>

    {% for hole in card %}
    <tr>
      <td>{{ hole.hole }}</td>
      <td>{{ hole.yards }}</td>
      <td>{{ hole.par }}</td>
      <td>{{ hole.stroke_index }}</td>
    </tr>



{% endfor %}

{{data}}
{% endblock %}

