{% extends 'courses/base.html' %}

{% block content%}

<div class="container">
  <p>Handicaps Adam: {{handicap.adam_handicap}}. 
    Alex: {{handicap.alex_handicap}}. 
    Jaime: {{handicap.jaime_handicap}}. 
    Rich: {{handicap.rich_handicap}}. </p>

  {% load static %}
  <h1>{{round}}</h1>
  <div class="row">
    <div class="col-5">
      <form action="{% url 'edit_score' %}" method="POST">{% csrf_token %}
      <td><input type="submit" value="Submit"></td>
      <input type="hidden" name="round" id="round" value="{{round}}">

<table class="table table-hover table-group-divider table-striped-columns table-responsive">
  <thead>  
  <tr>
      <th>Hole</th>
      <th>Yards</th>
      <th class="vis">Par</th>
      <th class="vis">S.I.</th>
      <th>Adam</th>
      <th>Alex</th>
      <th>Jaime</th>
      <th>Rich</th>
      <th class="vis">Adam Par</th>
      <th class="vis">Adam Stbfrd</th>
      <th class="vis">Alex Par</th>
      <th class="vis">Alex Stbfrd</th>
      <th class="vis">Jaime Par</th>
      <th class="vis">Jaime Stbfrd</th>
      <th class="vis">Rich Par</th>
      <th class="vis">Rich Stbfrd</th>
      <th>Match Play</th>
      <th>{{teams.0}}</th>
      <th>{{teams.1}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Totals</td>
      <td></td>
      <td class="vis"></td>
      <td class="vis"></td>
      <td>{{total.adam.total}}</td>
      <td>{{total.alex.total}}</td>
      <td>{{total.jaime.total}}</td>
      <td>{{total.rich.total}}</td>
      <td class="vis">{{total.adam.par}}</td>
      <td class="vis">{{total.adam.stable}}</td>
      <td class="vis">{{total.alex.par}}</td>
      <td class="vis">{{total.alex.stable}}</td>
      <td class="vis">{{total.jaime.par}}</td>
      <td class="vis">{{total.jaime.stable}}</td>
      <td class="vis">{{total.rich.par}}</td>
      <td class="vis">{{total.rich.stable}}</td>
      <td>{{total.match_play}}</td>
      <td>{{total.team_a}}</td>
      <td>{{total.team_b}}</td>
      
     </tr>
    
      
    {% for hole in card %}
    
    <tr>
      <td>{{ hole.hole.hole }}</td>
      <td>{{ hole.hole.yards }}</td>
      <td class="vis">{{ hole.hole.par }}</td>
      <td class="vis">{{ hole.hole.stroke_index }}</td>
      <td><input type="text" name="adam" inputmode="numeric" pattern="[0-9]*" id="" size="3" value="{% if hole.adam %}{{hole.adam}}{% endif %}" min=1 oninput="this.value = Math.abs(this.value)"></td>
      <td><input type="text" name="alex" inputmode="numeric" pattern="[0-9]*" id="" size="3" value="{% if hole.alex %}{{hole.alex}}{% endif %}" min="1"></td>
      <td><input type="text" name="jaime" inputmode="numeric" pattern="[0-9]*" id="" size="3" value="{% if hole.jaime %}{{hole.jaime}}{% endif %}" min="1"></td>
      <td><input type="text" name="rich" inputmode="numeric" pattern="[0-9]*" id="" size="3" value="{% if hole.rich %}{{hole.rich}}{% endif %}" min="1"></td>
      <td class="vis">{% if hole.adam %}{{hole.adam_to_par}}{% endif %}</td>
      <td class="vis">{% if hole.adam %}{{hole.adam_stable}}{% endif %}</td>
      <td class="vis">{% if hole.alex %}{{hole.alex_to_par}}{% endif %}</td>
      <td class="vis">{% if hole.alex %}{{hole.alex_stable}}{% endif %}</td>
      <td class="vis">{% if hole.jaime %}{{hole.jaime_to_par}}{% endif %}</td>
      <td class="vis">{% if hole.jaime %}{{hole.jaime_stable}}{% endif %}</td>
      <td class="vis">{% if hole.rich %}{{hole.rich_to_par}}{% endif %}</td>
      <td class="vis">{% if hole.rich %}{{hole.rich_stable}}{% endif %}</td>
      <td class="vis">{{hole.match_play}}</td>
      <td class="vis">{{hole.better_ball_team_a}}</td>
      <td class="vis">{{hole.better_ball_team_b}}</td>

      
   </tr>
   {% endfor %}
   <tr>
    <th>Hole</th>
    <th>Yards</th>
    <th class="vis">Par</th>
    <th class="vis">S.I.</th>
    <th>Adam</th>
    <th>Alex</th>
    <th>Jaime</th>
    <th>Rich</th>
    <th class="vis">Adam Par</th>
    <th class="vis">Adam Stbfrd</th>
    <th class="vis">Alex Par</th>
    <th class="vis">Alex Stbfrd</th>
    <th class="vis">Jaime Par</th>
    <th class="vis">Jaime Stbfrd</th>
    <th class="vis">Rich Par</th>
    <th class="vis">Rich Stbfrd</th>
    <th>Match Play</th>
    <th>{{teams.0}}</th>
    <th>{{teams.1}}</th>
  </tr>
   <tr>
    <td>Totals</td>
    <td></td>
    <td class="vis"></td>
    <td class="vis"></td>
    <td>{{total.adam.total}}</td>
    <td>{{total.alex.total}}</td>
    <td>{{total.jaime.total}}</td>
    <td>{{total.rich.total}}</td>
    <td class="vis">{{total.adam.par}}</td>
    <td class="vis">{{total.adam.stable}}</td>
    <td class="vis">{{total.alex.par}}</td>
    <td class="vis">{{total.alex.stable}}</td>
    <td class="vis">{{total.jaime.par}}</td>
    <td class="vis">{{total.jaime.stable}}</td>
    <td class="vis">{{total.rich.par}}</td>
    <td class="vis">{{total.rich.stable}}</td>
    <td>{{total.match_play}}</td>
    <td>{{total.team_a}}</td>
    <td>{{total.team_b}}</td>
    
   </tr>
  </tbody>

  </form>
 
  </div>
  

  </div>
  
</div>
{% endblock %}
