{% extends 'courses/base.html' %}

{% block content%}

  {{handicap}}
  {% load static %}
  <h1>{{round}}</h1>
  <div class="row">
    <div class="col-4">
      
<table class="table table-hover table-group-divider table-striped-columns">
  <thead>  
  <tr>
      <th>Hole</th>
      <th>Yards</th>
      <th>Par</th>
      <th>S.I.</th>
      <th>Adam</th>
      <th>Alex</th>
      <th>Jaime</th>
      <th>Rich</th>
      <th class="vis">Adam Par</th>
      <th class="vis">Adam Stbfrd</th>
      <th class="vis">Alex Par</th>
      <th class="vis">Alex Stbfrd</th>
      <th class="vis">Jaime Par</th>
      <th class="vis">Jaime Stbfrd</th>
      <th class="vis">Rich Par</th>
      <th class="vis">Rich Stbfrd</th>
    </tr>
  </thead>
  <tbody>
    
      
    {% for hole in card %}
    
    <tr>
      <td>{{ hole.hole.hole }}</td>
      <td>{{ hole.hole.yards }}</td>
      <td>{{ hole.hole.par }}</td>
      <td>{{ hole.hole.stroke_index }}</td>
      <td>{% if hole.adam %}{{hole.adam}}{% endif %}</td>
      <td>{% if hole.alex %}{{hole.alex}}{% endif %}</td>
      <td>{% if hole.jaime %}{{hole.jaime}}{% endif %}</td>
      <td>{% if hole.rich %}{{hole.rich}}{% endif %}</td>
      <td class="vis">{% if hole.adam %}{{hole.adam_stable}}{% endif %}</td>
      <td class="vis">{% if hole.alex %}{{hole.alex_to_par}}{% endif %}</td>
      <td class="vis">{% if hole.adam %}{{hole.adam_to_par}}{% endif %}</td>
      <td class="vis">{% if hole.alex %}{{hole.alex_stable}}{% endif %}</td>
      <td class="vis">{% if hole.jaime %}{{hole.jaime_to_par}}{% endif %}</td>
      <td class="vis">{% if hole.jaime %}{{hole.jaime_stable}}{% endif %}</td>
      <td class="vis">{% if hole.rich %}{{hole.rich_to_par}}{% endif %}</td>
      <td class="vis">{% if hole.rich %}{{hole.rich_stable}}{% endif %}</td>
      
   </tr>
   {% endfor %}
   <tr>
    <th>Hole</th>
    <th>Yards</th>
    <th>Par</th>
    <th>S.I.</th>
    <th>Adam</th>
    <th>Alex</th>
    <th>Jaime</th>
    <th>Rich</th>
    <th class="vis">Adam Par</th>
    <th class="vis">Adam Stbfrd</th>
    <th class="vis">Alex Par</th>
    <th class="vis">Alex Stbfrd</th>
    <th class="vis">Jaime Par</th>
    <th class="vis">Jaime Stbfrd</th>
    <th class="vis">Rich Par</th>
    <th class="vis">Rich Stbfrd</th>
  </tr>
   <tr>
    <td>Totals</td>
    <td></td>
    <td></td>
    <td></td>
    <td>{{total.adam.total}}</td>
    <td>{{total.alex.total}}</td>
    <td>{{total.jaime.total}}</td>
    <td>{{total.rich.total}}</td>
    <td class="vis">{{total.adam.par}}</td>
    <td class="vis">{{total.adam.stable}}</td>
    <td class="vis">{{total.alex.par}}</td>
    <td class="vis">{{total.alex.stable}}</td>
    <td class="vis">{{total.jaime.par}}</td>
    <td class="vis">{{total.jaime.stable}}</td>
    <td class="vis">{{total.rich.par}}</td>
    <td class="vis">{{total.rich.stable}}</td>
    
   </tr>
  </tbody>


 
  </div>
  

  </div>
 
{% endblock %}
