{% extends 'courses/base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'courses/d3.v7.js' %}" ></script>

<script type="module"  src="{% static 'courses/stats_total.js' %}"></script>
<div class="container">
    <button onclick="plot(cumsum_adam)">Adam</button>
    <button onclick="plot(cumsum_alex)">Alex</button>
    <button onclick="plot(cumsum_jaime)">Jaime</button>
    <button onclick="plot(cumsum_rich)">Rich</button>
    <select id="player_choice">
        <!-- <option value="adam">Adam</option> -->
        <option value="alex">Alex</option>
        <option value="jaime">Jaime</option>
        <option value="rich">Rich</option>
        
    </select>
<div id="div-template"></div>



{% endblock %}